body {
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

/* Header */

header {
    height: 123px;
    border-bottom: 1px solid #F5F5F5;
    position: relative;
}

header nav {
    position: absolute;
    bottom: 0px;
    left: 150px;
}

header ul {
    margin-bottom: -5.5px;
}

header li {
    display: inline-block;
    padding: 28px 15px 12px;
    font-size: 13px;
}

header li a {
    text-decoration: none;
    color: #777777;
}

header li a:hover {
    color: #000000;
}

ul button {
    background-color: #ffffff;
    border: none;
    color: #777777;
    cursor: pointer;
    height: 28px;
    width: 81px;
    margin-left: -20px;
}

ul button:hover {
    background-color: #F6F6F6;
    border: 1px solid #C6C6C6;
    color: #777777;
    border-radius: 2px;
}

.logo {
    padding: 28px 28px 0 30px;
    float: left;
    position: relative;
    cursor: pointer;
}

.search-bar {
    padding: 20px 28px 0 30px;
}

.buttons {
    display: inline;
}

.keyboard {
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 37px;
    left: 660px;
    cursor: pointer;
}

.mic {
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 33px;
    left: 700px;
    cursor: pointer;
}

.search {
    border: none;
    background-color: #ffffff;
    position: absolute;
    top: 33px;
    left: 740px;
    cursor: pointer;
}

.side-app {
    display: inline;
}

.dotted-menu {
    background-image: url("https://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    width: 30px;
    height: 30px;
    background-position: -132px -38px;
    opacity: 0.55;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    float: right;
    margin-top: -40px;
    margin-right: 90px;
}

.dotted-menu:hover {
    opacity: 0.9;
}

.profile-pic {
    float: right;
    margin-top: -40px;
    margin-right: 40px;
}

.search-bar input {
    height: 44px;
    width: 630px;
    border-radius: 25px;
    border: 1px solid #F5F5F5;
    font-size: 16px;
    padding-left: 20px;
}

.search-bar input:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    outline: none;
}

.search-bar input:focus {
    outline: none;
}

.profile-pic img {
    border-radius: 50px;
}

.active a,
.active a:hover {
    color: #1A72E6;
}

.active {
    border-bottom: 3px solid #1A73E8;
    font-weight: bold;
}

